.header
    display: flex
    justify-content: space-between
    align-items: center
    .title
        color: red
        font-size: 24
    .search
        height: 30px
        width: 240px
        padding: 20px 10px
        border-color: #ddd
        border: 1px solid #ddd
        border-radius: 5px
