.book
    background-color: #fff
    padding: 0px 10px
    margin-top: 30px
    box-shadow: 0px 1px 28px -5px rgba(0,0,0,0.55)
    border-radius: 14px
    .head
        display: flex
        justify-content: space-between
        flex-direction: row
        padding: 10px 0px
        .title
            font-weight: bold
        .authorid
            font-size: 10px
            background-color: #B4FCAE
            border-radius: 10px
            padding: 5px 5px 10px 5px
            color: #50BB47
    .body
        display: flex
        flex-direction: column
        padding: 10px 0px
        .authorName
            font-weight: bold
        .description
            font-size: 14px
    .buttons
        display: flex
        justify-content: flex-end
        padding: 10px 0px
        .show
            color: #2F6CDD